.App {
  max-width: 900px;
  margin: 20px auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(10, 174, 227) 0%,
    rgb(124, 182, 255) 100.2%
  );
  border-radius: 2px solid
    radial-gradient(
      circle at 10% 20%,
      rgb(10, 174, 227) 0%,
      rgb(124, 182, 255) 100.2%
    );
  border-radius: 8px;
  padding: 20px;
}

.App footer {
  text-align: center;
  font-family: monospace;
}
