.Weather form {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.Weather h2 {
  color: darkblue;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
}

.Weather ul {
  list-style: none;
  font-size: 22px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(136, 17, 160);
  text-align: left;
  text-transform: capitalize;
  position: relative;
  bottom: 65px;
  line-height: normal;
}

.Weather .date {
  position: relative;
  bottom: 65px;
}

.Weather img {
  position: relative;
  bottom: 24px;
}
