.WeatherForecast {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
}

.WeatherForecast-temp-min {
  margin-left: 5px;
  color: lightskyblue;
}

.WeatherForecast-temp-max {
  color: lightcyan;
}

.WeatherForecast-temperatures {
  position: relative;
  bottom: 20px;
  margin-bottom: 80px;
  font-weight: bold;
}

.WeatherForecast-day {
  color: lightcyan;
  font-weight: bold;
}

.WeatherForecast-icon {
  margin-top: 20px;
}
